<nav class="navbar navbar-expand-md navbar-dark bg-dark cus-nav">
        <!-- <img class="img-fluid pr-3 aa-logo-img" src="" alt="logo"> -->
        <a class="navbar-brand px-0 py-0" href="#">LOGO</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link cus-nav-link" routerLink=''> <i class="fa fa-home"></i> Home</a></li>
                <li class="nav-item"><a class="nav-link cus-nav-link" routerLink="appListing"><i class="fa fa-binoculars"></i> Applications</a></li>
            </ul>
        </div>
</nav>