<div class="container-fluid" style="background-color: #00649414">
    <div class="row">
        <nav id="sidebar">
            <ul class="list-unstyled components mt-3">
                <li class="active">
                    <a href="">Application Overview</a>
                </li>
                <li>
                    <a href="">Application Roadmap</a>
                </li>
                <li>
                    <a href="">Application Stream</a>
                </li>
                <li>
                    <a href="">Application Functions</a>
                </li>
                <li>
                    <a href="">Application Architecture</a>
                </li>
                <li>
                    <a href="">Application Tech</a>
                </li>
                <li>
                    <a href="">Connected Application</a>
                </li>
                <li>
                    <a href="">Information Security</a>
                </li>
                <li>
                    <a href="">Data Profile</a>
                </li>
                <li>
                    <a href="">Product Measurement</a>
                </li>
                <li>
                    <a href="">Links</a>
                </li>
                <li>
                    <a href="">GDPR Details</a>
                </li>
                <li>
                    <a href="">Documentation</a>
                </li>
                <li>
                    <a href="">Product Attestations</a>
                </li>
            </ul>
        </nav>
        <div class="col-md-9">
            <div class="container-fluid">
                <h4 class="pt-3 pb-3">EPay</h4>
                <div class="header-single">
                    <h6 class="col-md-9 pl-0">Application Overview</h6>
                    <button class="btn btn-danger float-right add-button">Edit</button>
                </div>
                <div class="pr-details panel-group" id='accordion'>
                    <ul>
                        <li>
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h6 class="panel-title">
                                        <a href="#panelBodyOne" data-toggle="collapse" data-parent="#accordion">
                                            Short Description
                                        </a>
                                    </h6>
                                </div>
                                <div id="panelBodyOne" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat. Duis aute irure dolor in</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h6 class="panel-title">
                                        <a href="#panelBodyTwo" data-toggle="collapse" data-parent="#accordion">
                                            Asset Type
                                        </a>
                                    </h6>
                                </div>
                                <div id="panelBodyTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat. Duis aute irure dolor in</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h6 class="panel-title">
                                        <a href="#panelBodyThree" data-toggle="collapse" data-parent="#accordion">
                                            Status
                                        </a>
                                    </h6>
                                </div>
                                <div id="panelBodyThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat. Duis aute irure dolor in</p>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h6 class="panel-title">
                                        <a href="#panelBodyFour" data-toggle="collapse" data-parent="#accordion">
                                            Strategy
                                        </a>
                                    </h6>
                                </div>
                                <div id="panelBodyFour" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat. Duis aute irure dolor in</p>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h6 class="panel-title">
                                        <a href="#panelBodyFive" data-toggle="collapse" data-parent="#accordion">
                                            Business Criticality
                                        </a>
                                    </h6>
                                </div>
                                <div id="panelBodyFive" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat. Duis aute irure dolor in</p>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h6 class="panel-title">
                                        <a href="#panelBodySix" data-toggle="collapse" data-parent="#accordion">
                                            Vendor
                                        </a>
                                    </h6>
                                </div>
                                <div id="panelBodySix" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat. Duis aute irure dolor in</p>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
