<div class="container-fluid">
    <div class="row">
        <nav id="sidebar">
            <ul class="list-unstyled components mt-3">
                <li class="active">
                    <a href="">Application Overview</a>
                </li>
                <li>
                    <a href="">Application Roadmap</a>
                </li>
                <li>
                    <a href="">Application Stream</a>
                </li>
                <li>
                    <a href="">Application Functions</a>
                </li>
                <li>
                    <a href="">Application Architecture</a>
                </li>
                <li>
                    <a href="">Application Tech</a>
                </li>
                <li>
                    <a href="">Connected Application</a>
                </li>
                <li>
                    <a href="">Information Security</a>
                </li>
                <li>
                    <a href="">Data Profile</a>
                </li>
                <li>
                    <a href="">Product Measurement</a>
                </li>
                <li>
                    <a href="">Links</a>
                </li>
                <li>
                    <a href="">GDPR Details</a>
                </li>
                <li>
                    <a href="">Documentation</a>
                </li>
                <li>
                    <a href="">Product Attestations</a>
                </li>
            </ul>
        </nav>
        <div class="col-md-9">
            <div class="container-fluid">
                <h4 class="pt-3 pb-3">EPay</h4>
                <div class="header-single">
                    <h6 class="col-md-9 pl-0">Application Overview</h6>
                    <button class="btn btn-danger float-right">Edit</button>
                </div>
                <div class="pr-details">
                    <ul>
                        <li>Short Description</li>
                        <li>Test</li>
                        <li>Asset Type</li>
                        <li>Test</li>
                        <li>Status</li>
                        <li>Test</li>
                        <li>Strategy</li>
                        <li>Test</li>
                        <li>Business Criticality</li>
                        <li>Test</li>
                        <li>Vendor</li>
                        <li>Test</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
